.img-profile {
    width: 150px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
}
